<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ROOT_URL" value="http://localhost:8090" />
    <add key="DOWNLOAD_FOLDER" value="C:\Download" />
    <add key="HOST_TYPE" value="ASP.NET" />
  </appSettings>
  <system.web>
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </handlers>
  </system.webServer>
</configuration>