<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="DOWNLOAD_FOLDER" value="C:\Download" />
    <add key="ROOT_URL" value="http://localhost:8070" />
    <add key="HOST_TYPE" value="WPF_DEBUG" />
    <add key="MODE" value="DEBUG"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>