<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Deezer Rec</title>
</head>
<body>
    <div id="console"></div>
    <div>
        <div>User: <span id="userName"></span></div>
        <div>Track: <span id="track"></span></div>
        <div>Position: <span id="position"></span></div>
    </div>
    <div id="dz-root"></div>

    <script src="http://cdns-files.deezer.com/js/min/dz.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://localhost:8080/Scripts/DeezerRec.js"></script>
    <script src="http://localhost:8080/Scripts/Common.js"></script>
    <script src="http://localhost:8080/Scripts/Player.js"></script>
    
    <script>
        var player = new DeezerRec.Player('135291', 'http://localhost:8080/Include');
        player.init();
    </script>
</body>
</html>